.App {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

ul.tab-bar {
  display: flex;
  justify-content: center;
}

ul.tab-bar > li {
  margin-left: 0.4em;
  margin-right: 0.4em;
}

ul.tab-bar button {
  font-size: 1em;
}

ul.tab-bar button.active {
  background-color: #555;
  color: #ddd;
}

.add-recipient .button-bar {
  margin-top: 2em;
}
